* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #23315e;
    font-family:monospace;
    display:flex;
    flex-direction: column;
    align-items: center;
}


h1 {
    color: #fdfdfd;
    font-size: 64px;
    text-align: center;
}

#buttons {
    display: flex;
    gap: 10px;
}

button {
    background-color: #6575a2;
    border: none;
    color: #fdfdfd;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 20px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 850px;
    height: 850px;
    margin: 20px;
}

.row {
    display: flex;
}

.cell {
    border: 2px solid #6575a2;
    border-radius: 5px;
    box-sizing: border-box;
}